
.document-form{
  width: 94%;
  height: 60px;
  padding: 3%;
 
}
.document-form > input{
   width: 30%; 
   padding: 16px;
   margin: 8px;
}
.document-form > button{
  padding: 16px;
  cursor: pointer;
}
.card-container{
  width: 94%;
  margin: 3%;
  margin: auto;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 20px
}